body * {
  font: 400 18px/1.2 "Roboto", Sans-serif;
}

.app {
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.contentPage {
  width: 100%;
  height: 100%;
  flex: 1 1 100%;
  display: flex;
}

.pageContent {
  padding-left: var(--content-padding);
  padding-right: var(--content-padding);
  max-width: calc(1200px + var(--content-padding) * 2);
  margin-left: auto;
  margin-right: auto;
}

.error-container {
  position: relative;
  padding-bottom: 14px;
}

.error-message {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 12px;
  line-height: 1;
  color: var(--red-color);
}

.valid-field {;
  transition: all 200ms;

  &--error {
    border-color: transparent !important;
    background-color: var(--red-light-color) !important;
  }
}

.valid-control {
  border: 1px solid transparent;
  transition: all 200ms;

  &--error {
    border-color: var(--red-color);
    box-shadow: 0 0 4px 1px var(--red-light-color);
  }
}
