$toggle-width: 50px;
$toggle-height: 30px;
$toggle-padding: 4px;

.toggle {
  margin-top: 10px;
  display: block;

  &__input {
    appearance: none;
    position: relative;
    display: inline-block;
    width: $toggle-width;
    height: $toggle-height;
    margin: 0;
    vertical-align: top;
    background-color: var(--gray-color);
    border-radius: 30px;
    outline: none;
    cursor: pointer;

    &:after {
      content: '';
      display: inline-block;
      position: absolute;
      left: $toggle-padding;
      top: $toggle-padding;
      width: calc(#{$toggle-height} - #{$toggle-padding} * 2);
      height: calc(#{$toggle-height} - #{$toggle-padding} * 2);
      background-color: var(--white-color);
      border-radius: 50%;
      transform: translateX(0);
      transition: transform 300ms;
    }

    &:checked {
      background-color: var(--main-color);

      &:after {
        transform: translateX(calc(#{$toggle-width} - #{$toggle-height}));
        background-color: var(--white-color);
      }
    }

    &--error {
      background-color: var(--red-color);
    }
  }
}
